@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Mohave:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    background-color: #1d1d1d;
    font-family: 'Mohave', sans-serif;
}

    /* Inicio elementos del header */
header{
    display: flex;
    justify-content: space-between;    /*cada parte de la caja van a las puntas y la del medio centrada*/
    align-items:flex-end;
}
#logo{
    width: 15em;
    height: 17em;
}
.menu{
    position: relative;
    width: 39em;
    height: 4em;
}

.menu ul li{
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    font-size: 2em;
    color: white;
    display: inline-block;     /* para que el hover no sobrepase la linea de la caja */
}
/* efecto del menu */
.menu ul li a:hover{
    background-color: #E3001B;
    transform: skew(-30deg, 0deg);
}




    /* Inicio del body */
.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}
.container img{
    max-width: 300px;
    max-height: 300px;
    padding: 2px;
    border-radius: 15px;
    background-color: red;
    object-fit: cover;
    aspect-ratio: 4/3;
}
 /* Fin del body */

 /*Inicio Footer*/
 .footer{
    display: flex;
    background-color: #E3001B;
    padding: 30px;
    margin-top: 3em;
    height: 25em;
}
.columna1{
    width: 30%;
    background: none;
}
.columna2{
    background: none;
}
.columna3 > *{
    width: 4em;
    height: 4em;
    float: right;
}
.h3{
    font-size: 3em;
    background: none;
    color: black!important;
}
.nosotros{
    font-family: 'Mohave', sans-serif;
    font-size: 1.5em;
    color: white;
    background: none;
    margin-top: 15%;
}
.contactar{
    margin:25%;
    padding-top: 6%;
    text-decoration: none;
    font-size: 2em;
    color: white;
    width: 9em;
    height: 3em;
    border-radius: 25px;
    text-align: center;
}
.columna3{
    width: 20%;
    background: none;
}
.redes{
    background: none;
}
  /* Fin Footer */

