@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Mohave:wght@300&display=swap');
*{
    background-color: #1d1d1d;
    font-family: 'Mohave', sans-serif;
}

    /* Inicio elementos del header */
header{
    display: flex;
    justify-content: space-between;    /*cada parte de la caja van a las puntas y la del medio centrada*/
    align-items:flex-end;
}
#logo{
    width: 15em;
    height: 17em;
}
#gif{
    width: 20em;
    height: 12em;
    border-radius: 10px;
    transform: skew(-30deg, 0deg); 
}
.header__menu{
    position: relative;
    width: 39em;
    height: 4em;
}

.header__menu__ul{
    display: inline;
}
.header__menu__ul__li{
    /* text-decoration: none; */
    font-size: 2em;
    color: white;
    display: inline-block;     /* para que el hover no sobrepase la linea de la caja */
}
/* efecto del menu */
.header__menu__ul_li:hover{
    background-color: #E3001B;
    transform: skew(-30deg, 0deg);
}
    /* Fin elementos del header */

/* Inicio elementos del body */

/* #primera-plana{
    width: 100%;
    height: 100%;
} */
/* .container{
    width: 100%;
    height: 100%;
    text-align: 500px;
} */
/* .portada p{
    font-size: 18rem;
    text-align: center;
    transform: translate(-30%, -200%);
    background-color: rgba(255, 0, 0, 0);
} */

    /* Inicio Contenedor 1 (Left) */
.body__container1{
    float: left;  /* Esto lo pone a la izquierda en el main */
    display: flex;
    width: 59%;
    margin:1% 1%;
    flex-direction: column;
    margin-top: 7em;
}
.body__container1__container__h1{
    width: 100%;
    font-size: 7em;
    color: white;
    font-family: 'Alatsi', sans-serif;
    margin-bottom: 5%;
}
.body__container1__container__p{
    font-size: 20px;
    color: #E3001B;
    font-family: 'Mohave', sans-serif;
    margin-top: 4em;
}
.body__container1__publicidad{
    margin-top: 10%;
    margin-bottom: 10%;
}
.body__container1__publicidad__img{
    width: 80%;
    margin-left: 70px;
}
    /* Fin Elementos Contenedor 1 */

    /* Inicio Elementos contenedor 2 */
.contenedor2{
    width: 35%;
    float: right;   /* Esto lo pone a la derecha en el main */
    margin-top: 90px;
    background-color: #E3001B;
    border-radius: 40px;
    overflow: hidden;
    height: 125em;
    display: flex;
    flex-direction: column;
}
.h2{
    font-size: 3em;
    font-weight:bold;
    background-color: #1d1d1d00;  /* fondo transparente*/
    margin-top: 15%;
    margin-bottom: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
}
iframe{
    /* width:16em; */
    height: 16em;
    margin-left: 3%;
    width: 30em!important;
    border-radius: 20px;
}
.news{
    width: 100%;
    background-color: #E3001B;
    margin-top: 3em;
}
.mvp{
    width: 5em;
    margin-left: 1.5em;
    height: 55em;
    width: 100%;
    background-color:#E3001B;
}
#publi{
    width: 100%;
    height: 100%;
    position: relative;
}
#img-mvp{
    width: 80%;
    height: 85%;
    margin-left: 25px;
}
    /* Fin Elementos contenedor 2 */


    /* Inicio Elementos End */
    .end{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 60em;
    }
    .champ{
        font-size: 7em;
        margin-bottom: 0%;
        margin-top: 1em;
        color: rgb(251, 241, 52);
    }
    .campeones{
        display: flex;
        flex-direction: column;
        max-width: 70em;
    }
    .champ-img {
        margin-top: 10%;
        overflow: hidden;
        width: 100%;
        padding: 2em;
        background-color: rgb(205, 197, 41);
        border-radius: 25px;
    }
    .publi2{
        width: 20%;
        margin-left: 3em;
        margin-right: 3%;
    }

    /* Fin Elementos End */


    /*Inicio Footer*/
.footer{
    display: flex;
    background-color: #E3001B;
    padding: 30px;
    margin-top: 3em;
    height: 25em;
}
.columna1{
    width: 30%;
    background: none;
}
.columna2{
    background: none;
}
.columna3 > *{
    width: 4em;
    height: 4em;
    float: right;
}
.h3{
    font-size: 3em;
    background: none;
    color: black!important;
}
.nosotros{
    font-family: 'Mohave', sans-serif;
    font-size: 1.5em;
    color: white;
    background: none;
    margin-top: 15%;
}
.contactar{
    margin:25%;
    padding-top: 6%;
    text-decoration: none;
    font-size: 2em;
    color: white;
    width: 9em;
    height: 3em;
    border-radius: 25px;
    text-align: center;
}
.columna3{
    width: 20%;
    background: none;
}
.redes{
    background: none;
}

    /* Fin Footer */


.up{
    /* border-radius: 25px!important; */
    width: 20px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}