@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Mohave:wght@300&display=swap');
*{
    /* background-color: #1d1d1d; */
    background-color: #1d1d1d;
    font-family: 'Mohave', sans-serif;
}

    /* Inicio elementos del header */

.header{
    display: flex;
    justify-content:space-between;    /*cada parte de la caja van a las puntas y la del medio centrada*/
    align-items: center;
}
.logo{
    width: 17em;
    height: 17em;
}
.header__logo{
    width: 17em;
    height: 17em;
    padding: 1em;
}
.header__up--center{
    width: 20em;
    height: 12em;
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg); 
}
.menu{
    position: relative;
    width: 39em;
    height: 4em;
}
.menu__li{
    display: inline;
}
.menu__a{
    font-size: 1.5em;
    color: #EEEEEE;
    display: inline-block;
    height: 100px;
    padding: 0.3em;
    transition: 0.5s ease-out;
    padding-top: 1em;
}

/* efecto del menu */
.menu__a:hover{
    background-color: #DA1212;
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    transition: 0.5s ease-out;
    margin-right: 1em;
    font-size: 2.3em;
}
    /* Fin elementos del header */


/* Inicio elementos del Main */

.main{
    width: 100%;
    display: grid;
    grid-template-columns: [x0] 55em [x1] 28em [x2];
    gap: 4em;
}
.main__portada{
    width: 100%;
    grid-column: x0 / x2;
    overflow: hidden;
    height: 50em;
}
.container1{
    display: flex;
    width: 55em;
    margin:2%;
    flex-direction: column;
    margin-top: 7em;
    padding: 0%;
    row-gap: 5em;
}
.container1__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50em;
    row-gap: 2em;
}
.container1__img{
    width: 100%;
    height: 100%;
    background-color: #E3001B;
}
.container1__h2{
    width: 100%;
    font-size: 6.5em;
    color: white;
    font-family: 'Alatsi', sans-serif;
}
.container1__p{
    width: 100%;
    font-size: 2em;
    color: #E3001B;
    font-family: 'Mohave', sans-serif;
    margin-top: 2em;
    background-color: rgba(240, 255, 255, 0);
}
.aside{
    width: 70%;
    margin-top: 10%;
    margin:0 auto;
}
.aside__img{
    width: 100%;
}
.main__container2{
    width: 100%;
    float: right;  
    background-color: #DA1212;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 10em;
    padding-top: 4em;
}
.container2__div{
    width: 90%;
    background-color: #E3001B;
    margin: 0 auto;
    height: 17em;
}
.container2__iframe{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.container2__h3{
    font-size: 2em;
    font-weight:bold;
    background: none;
    margin-top: 15%;
    margin-bottom: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
}
.container__mvp{
    width: 90%;
    background-color: #DA1212;
    margin-top: 9em;
    margin: 0 auto;
    height: 50em;
}
.container2__img{
    border-radius: 30px;
    height: 80%;
}
.container3{
    display: flex;
    grid-column: x0 / x2;
    flex: inline;    
}
.container3__div{
    display: block;
    width: 150em;
    height: 50em;
    overflow: hidden;
}
.container3__h2{
    width: 100%;
    font-size: 8em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #d8e300;
}
.container3__img {
    overflow: hidden;
    background-color: #d8e300;
    padding: 2em;
    border-radius: 25px;
    height: 35em;
}
.aside2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside2__img{
    width: 70%;
    height: 45em;
}
       /* Fin de elementos del Main */


    /* Inicio de elementos del footer */
.footer{
    width: 100%;
    grid-column: x0 / x2;
    display: flex;
    justify-content: space-between; /*cada parte de la caja van a las puntas y la del medio centrada*/
    background-color: #DA1212;;
    padding: 30px;
    height: 25em;
    margin-right: 0%;
    width: 169vh;
}
.footer__columna1{
    width: 30%;
    background: none;
}
.footer__h3{
    font-size: 3em;
    background: none;
    color: black;
}

.footer__columna3{
    width: 20%;
    background: none;
}

.footer__columna2{
    background: none;
}
.footer__a{
    margin:25%;
    padding-top: 6%;
    font-size: 2em;
    color: white;
    width: 9em;
    height: 3em;
    text-align: center;
}
.footer__contactar{
    border-radius:25px;
}
.footer__p{
    font-family: 'Mohave', sans-serif;
    font-size: 1.5em;
    color: white;
    background: none;
    margin-top: 15%;
}
.footer__columna3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer__redes{
    background: none;
    width: 5em;
}
.footer__up{
    background-color: none;
    background: none;
    width: 7em;
    margin-left: 35%;
}
.footer__a2{
    background: none;
}
       /* Fin de elementos del footer */