@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Mohave:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    background-color: #1d1d1d;
    font-family: 'Mohave', sans-serif;
}

    /* Inicio elementos del header */
header{
    display: flex;
    justify-content: space-between;    /*cada parte de la caja van a las puntas y la del medio centrada*/
    align-items:flex-end;
}
#logo{
    width: 15em;
    height: 17em;
}
.menu{
    position: relative;
    width: 39em;
    height: 4em;
}

.menu ul li{
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    font-size: 2em;
    color: white;
    display: inline-block;     /* para que el hover no sobrepase la linea de la caja */
}
/* efecto del menu */
.menu ul li a:hover{
    background-color: #E3001B;
    transform: skew(-30deg, 0deg);
}




.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap:1.5rem;
    row-gap: 2rem;
    border-radius: 50%;
    margin-left: 200px;
    margin-right: 200px;
}

.grid div{
    background-color: rgb(111, 111, 135);
    border-radius: 30px;
}

button{
    cursor:pointer;
    font-size: 100px;
    background-color: rgb(49, 240, 6);
    width: 210px;
    border-radius: 30px 30px 30px 30px;
    margin: 10px;
}


.img-torneo{
    width: 100%;
    max-height: 300px;
    max-height:150px;
    border-radius: 30px 30px 0px 0px;
}
p{
    font-size: 40px;
    background-color: rgba(78, 29, 29, 0);
    margin-left: 0px;
}

.grid p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 15%;
}

i{
    background-color: rgba(255, 0, 0, 0);
    margin-right: 10px;
}

.ver{
    text-decoration: none;
    background-color: #1d1d1d00;
    color: black;
}

 /*Inicio Footer*/
 .footer{
    display: flex;
    background-color: #E3001B;
    padding: 30px;
    margin-top: 3em;
    height: 25em;
}
.columna1{
    width: 30%;
    background: none;
}
.columna2{
    background: none;
}
.columna3 > *{
    width: 4em;
    height: 4em;
    float: right;
}
.h3{
    font-size: 3em;
    background: none;
    color: black!important;
}
.nosotros{
    font-family: 'Mohave', sans-serif;
    font-size: 1.5em;
    color: white;
    background: none;
    margin-top: 15%;
}
.contactar{
    margin:25%;
    padding-top: 6%;
    text-decoration: none;
    font-size: 2em;
    color: white;
    width: 9em;
    height: 3em;
    border-radius: 25px;
    text-align: center;
}
.columna3{
    width: 20%;
    background: none;
}
.redes{
    background: none;
}
  /* Fin Footer */