*{
    background-color: #1d1d1d;
    font-family: 'Helvetica Neue';
                       
}


#logo{
    width: 200px;
    height: 250px;
    margin-bottom: -15%;
    border-radius: 50%;
}


#menus{
    text-align: right;
    margin-right: 45px;
}

#menus ul li{
    display: inline-block;
    
}

#menus ul li a{
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 60px 10px;
    display: block;
    font-family: 'Morganite';

    /* para que el hover no sobrepase la linea de la caja */
}

#menus ul li a:hover{
    background-color: #f90404b1; 
    transform: skew(-30deg, 0deg); 
}
table{
    margin-left: 25em;
    text-align: center;
}

table td {
    color: rgb(255, 255, 255);
    background-color: gray;
  }
table th {
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: rgb(219, 229, 72);
}

.footer{
    display: flex;
    background-color: #E3001B;
    height: 19em;
    padding: 40px;
    margin-top: 80px;
}

.contactar{
    font-size: 60px;
    font-family: 'Morganite';
    color: white;
    width: 250px;
    height: 70px;
    border-radius: 25px;
    background-color: rgb(12, 12, 12);
    margin-left: 250px;
}

.columna1{
    width: 20%;
    background: none;
}

h5{
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    background: none;

}
.nosotros{
    font-size: 20px;
    color: white;
    font-family: 'Helvetica Neue';
    background: none;
}
.columna2{
    margin: 0px 30px 30px 30px;
    width: 50%;
    background: none;
}
.columna2 > p{
    text-align: center;
}

.columna3{
    width: 20%;
    background: none;
    
}
.columna3 > *{
    width: 60px;
    height: 60px;
    float: right;
}
.redes{
    background: none;
}

.registrar{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    background-color: #1d1d1d00;
    margin-bottom: 5%;
    color: rgb(0, 0, 0);
    text-align: center;
}

a{
    text-decoration: none;
}