*{
    background-color: #1d1d1d;
    font-family: 'Morganite';
}


#logo{
    width: 200px;
    height: 250px;
    margin-bottom: -15%;
    border-radius: 50%;
    border-color: gray;
}


#menus{
    text-align: right;
    margin-right: 45px;
}

#menus ul li{
    display: inline-block;
    
}

#menus ul li a{
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 60px 10px;
    display: block;
    /* para que el hover no sobrepase la linea de la caja */
}

#menus ul li a:hover{
    background-color: #f90404b1; 
    transform: skew(-30deg, 0deg); 
}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap:1.5rem;
    row-gap: 2rem;
    border-radius: 50%;
    margin-left: 200px;
    margin-right: 200px;
}

.grid div{
    background-color: rgb(111, 111, 135);
    border-radius: 30px;
}

button{
    cursor:pointer;
    font-size: 100px;
    background-color: rgb(49, 240, 6);
    width: 210px;
    border-radius: 30px 30px 30px 30px;
    margin: 10px;
}


.img-torneo{
    width: 100%;
    max-height: 300px;
    max-height:150px;
    border-radius: 30px 30px 0px 0px;
}
p{
    font-size: 40px;
    background-color: rgba(78, 29, 29, 0);
    /* margin: 0%; */
    margin-left: 0px;
}

.grid p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 15%;
}

i{
    background-color: rgba(255, 0, 0, 0);
    margin-right: 10px;
}

a{
    text-decoration: none;
    background-color: #1d1d1d00;
    color: black;
}

.footer{
    margin-top: 80px;
    display: flex;
    background-color: #E3001B;
    height: 19em;
    padding: 40px;

}

.contactar{
    font-size: 60px;
    color: white;
    width: 250px;
    height: 70px;
    border-radius: 25px;
    background-color: rgb(12, 12, 12);
}

.columna1{
    width: 20%;
    background: none;
}

h5{
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    background: none;

}
.nosotros{
    font-size: 20px;
    color: white;
    font-family: 'Helvetica Neue';
    background: none;
}
.columna2{
    margin: 0px 30px 30px 30px;
    width: 50%;
    background: none;
}
.columna2 > p{
    text-align: center;
}

.columna3{
    width: 20%;
    background: none;
    
}
.columna3 > *{
    width: 60px;
    height: 60px;
    float: right;
}
.redes{
    background: none;
    /* float: right; */
}

h4{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    background-color: #1d1d1d00;
    margin-bottom: 5%;
    color: rgb(0, 0, 0);
    text-align: center;
}