@mixin grid( $columnas ,$medidaC, $row: auto, $medidaR: 1fr, $espacio : 0){
	display                 : grid;
	grid-template-columns   : repeat( $columnas , $medidaC );
	grid-template-rows      : repeat( $row , $medidaR );
	gap                     : $espacio;
	@content;
}

// MEDIA MIXINS

@mixin ipad(){
	@media screen and (max-width: 1024px){
		*{
			font-size:1em;
		}
		body{
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }
        .header{
            max-width:100vw;
            display: flex;
            flex-direction: column;
            font-size: .6em;
        }
        .footer{
            width: 100vw;
            display: flex;
            flex-direction: column;
            &__redes{
                width: 3.5em;
                height: 3.5em;
            }
            &__up{
                width: 3.5em;
                height: 3.5em;
            }
        }
		.container1{
			&__div{
				align-items: center;
			}
			&__h2{
				font-size: 4em;
			}
		}
        .container2{
            max-height: 120em ;
        }
        .columna1{
            &__h2{
                width: 100vw;
            }
            height: 20em;
            font-size: .6rem;
            max-width: 100vw;
            margin-top:-2em;
            padding: 0%;
        }
        .columna2{
            height: 20em;
            font-size: .6rem;
            max-width: 100vw;
            margin-top:4em;
            padding: 0%;
            text-align: center;
        }
        .columna3{
            max-width: 100vw;
            height: 5em;
            display: flex;
            margin-top:2em;
            padding: 0%;
            flex-direction: row-reverse;
        }
        .main__grid {
            padding: 10%;
            grid-template-columns: repeat(2, 1fr);
            margin: 0%;
        }
		@content;
	}
}

@mixin tablet(){
	@media screen and (max-width: 760px){
		.container__galeria{
			display:flex;
			flex-flow: wrap;
			justify-content: center;
		}
        .main{
			display:flex;
			flex-flow: wrap;
			justify-content: center;
			text-align: center;
		}
        .footer{
            height: 35em;
        }
		.container1{
			&__p{
				font-size: .9rem;
			}
		}
        .container2{
            &__img{
                height: 39em;
            }
        }
        .container3{
            &__h2 {
                font-size: 6em;
            }
        }
        .columna3{
            justify-content: space-between;
        }
        .container3{
            flex-direction: column;
            &__img{
                padding: .5em;
            }
        }
		.container3__div{
			width: 100%;
			align-items:center;
			justify-content: center
		}
        .main__grid {
            padding: 10%;
            grid-template-columns: 1fr;
        }
		@content;
	}
}

@mixin mobile(){
	@media screen and (max-width: 480px){
        .menu {
            &__a {
                font-size: 1rem;
            }
            &:hover{
            padding-top: 5%;
            }
        }
		.main{
			display:flex;
			flex-flow: wrap;
			justify-content: center;
			text-align: center;
		}
        .footer{
            height: 35em;
        }
		.container1{
			&__p{
				font-size: .9rem;
			}
		}
        .container2{
            &__img{
                height: 39em;
            }
        }
        .container3{
            &__h2 {
                font-size: 6em;
            }
        }
        .columna2{
            &__h3{
                font-size:2em;
            }
        }
        .columna3{
            justify-content: space-between;
        }
        .container3{
            flex-direction: column;
            &__img{
                padding: .5em;
            }
        }
		.container3__div{
			width: 100%;
			align-items:center;
			justify-content: center
		}
        .main__grid {
            padding: 10%;
            grid-template-columns: 1fr;
        }
        span{
            font-size: 1em;
        }
        pre{
            font-size: 2rem;
        }
		@content;
    }
}


