@use 'variables';


.menu{
    position: relative;
    width: 39em;
    height: 4em;
}
    &__li{
        display: inline;
    }
    &__a{
        font-size: 1.5em;
        color: map-get(variables.$colores,"terciario");
        display: inline-block;
        height: 100px;
        padding: 0.3em;
        transition: 0.5s ease-out;
        padding-top: 1em;
    }


    &__a:hover{
        background-color: map-get(variables.$colores,"secundario");
        transform: skew(-30deg, 0deg);
        transition: 0.5s ease-out;
        margin-right: 1em;
        font-size: 2.3em;
    }